{% extends "inventory/registrationbase.html" %}
{% load static %}
{% load filters %}

{% block content %}
<body class="bg-primary">
 <div class="container d-flex justify-content-center allign-items-center vstack col-md-4 padding-0 mx-auto g-0 border border-secondary rounded px-5 mt-5 pb-3 mx-4 bg-light animate__animated animate__fadeIn">
  <img src="{% static 'logo2.png' %}" class="pb-0">
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group" class="">
            {{ field.label_tag }}
            <div class="form-control form-control-lg">
                {{ field }}
            </div>
            {% if field.errors %}
                <div class="invalid-feedback">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% if form.non_field_errors %}
        <div class="text-danger">{{ form.non_field_errors|striptags }}</div>
    {% endif %}
    <div class="d-flex align-items-end">
        <input type="submit" value="Log In" name="login" class="btn btn-outline-primary mt-3"/>
        <small class="mt-3">
            <a href="{% url 'password_reset' %}" class="ms-4">Forgot Password?</a>
        </small>
    </div> 
    <h5 class="pt-3">New user? Click here to <a href="{% url 'signup' %}">register</a></h5>
  </form>
 </div>
</body>

{% endblock %}