{% extends "inventory/base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center allign-items-center vstack col-md-4 padding-0 mx-auto g-0">
    <h1 class="text-center py-5 fw-bold">For questions and/or buisness inquiries, you can contact the developer Steven Waldron at:</h1>
    <h1 class="text-center py-5 fw-bold"><a href="https://www.linkedin.com/in/steven-waldron-088610110/?trk=opento_sprofile_topcard">Linkedin</a></h1>
    <div class="d-flex justify-content-center allign-items-center ms-5 mb-5">
        <h1 class="text-center fw-bold me-5">swaldronbuisness@gmail.com</h1>
    </div>
    
    
</div>

{% endblock %}