{% extends "inventory/base.html" %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center allign-items-center vstack col-md-4 padding-0 mx-auto g-0">
 <h1 class="text-center py-5 fw-bold">Are you  sure you want to delete and restore this purchase? This will put the ingredients back in stock</h1>
 <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-flex justify-content-center allign-items-center">
        <input type="submit" value="Cancel" name="cancel" class="btn btn-outline-secondary ms-0"/>
        <input type="submit" value="Delete & restore" name="delete&restore" class="btn btn-outline-danger ms-4"/>
    </div>
    

 </form>
</div>
{% endblock %}