{% extends "inventory/registrationbase.html" %}
{% load static %}

{% block content %}
<body class="bg-primary">
 <div class="container d-flex justify-content-center allign-items-center vstack col-md-4 padding-0 mx-auto g-0 border border-secondary rounded px-5 mt-5 mx-4 bg-light mb-5 animate__animated animate__flipInY">
  <img src="{% static 'logo2.png' %}">
  <div class="alert alert-info">
        An email has been sent with instructions to reset your password
  </div>
 </div>
</body>
{% endblock %}